@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,800");
body {
  font-family: "Open Sans", sans-serif; }

h2 {
  font-size: 53px; }

p, h2, h3 {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

a, .fab, .fas {
  transition: 0.5s; }

.btn a {
  color: #fff;
  background-color: #bc2e3a;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid #bc2e3a;
  border-radius: 39px;
  padding: 10px 30px;
  text-transform: uppercase; }
.btn:hover a {
  color: #bc2e3a;
  background-color: #fff; }

.overlay {
  background-image: url(img/bg-top-color.png); }

.overlay, .overlay .board {
  min-height: 748px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  position: relative;
  z-index: 3; }
  .nav p {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    padding-left: 58px; }

.nav-bar {
  padding-top: 18px;
  padding-right: 80px; }

.nav-bar-menu, .nav-bar-buttons {
  display: inline-block; }

.nav-bar-menu {
  padding-right: 35px; }
  .nav-bar-menu a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 5px;
    cursor: pointer; }

.nav-bar-buttons .fas, .nav-bar-buttons .fab {
  color: #fff;
  padding: 5px 10px; }

.nav-bar-menu a:hover,
.nav-bar-buttons .fas:hover, .fab:hover {
  color: #bc2e3a;
  background-color: #fff;
  border-radius: 3px; }

.board {
  position: absolute;
  min-height: 748px;
  width: 100%;
  margin-top: -75px;
  background-image: url(img/bg-top.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #fff; }
  .board .board-text {
    padding-top: 210px; }
    .board .board-text p {
      width: 65%;
      color: #fff;
      font-size: 147px;
      line-height: 115px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      -webkit-text-stroke: 1px black; }
      .board .board-text p span {
        font-size: 93px;
        line-height: 63px;
        display: block; }

.header-btn {
  margin: 485px 300px;
  position: absolute;
  z-index: 4; }
  .header-btn a {
    color: #242424;
    background-color: #fff;
    border: 2px solid #fff; }
  .header-btn:hover a {
    background-color: transparent;
    color: #fff; }

.skate {
  text-align: right;
  position: absolute;
  width: 100%;
  margin: -45px 0px;
  z-index: 2; }
  .skate img {
    width: 80%; }

.sections-wrap {
  width: 76%;
  margin: auto; }

.about-us-section {
  min-height: 483px;
  z-index: 3; }
  .about-us-section .about-us-bg {
    width: 750px;
    height: 484px;
    position: absolute;
    background-color: #000;
    right: 0;
    clip-path: polygon(0 0%, 126% 0, 63% 113%);
    -webkit-clip-path: polygon(0 0%, 126% 0, 63% 113%);
    -ms-clip-path: polygon(0 0%, 126% 0, 63% 113%); }

.about-us-wrap {
  display: flex;
  padding-top: 70px;
  position: relative; }

.about-us-text {
  width: 45%; }
  .about-us-text p {
    font-size: 13px;
    padding: 50px 0px 73px 20px;
    line-height: 25px; }
  .about-us-text .btn {
    margin-left: 11px; }

.about-us-lap {
  width: 57%;
  padding: 16px 6px 0px 0px; }
  .about-us-lap img {
    width: 635px; }

.services-bg {
  width: 85px;
  height: 170px;
  margin-top: 261px;
  position: absolute;
  background-color: #bc2e3a;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  -ms-clip-path: polygon(0% 0%, 100% 50%, 0% 100%); }

.services-section {
  background-color: #f5f5f5;
  min-height: 624px; }
  .services-section h2 {
    text-align: center;
    padding: 70px 40px 62px 0px; }

.services-wrap-first-line {
  padding-bottom: 77px; }

.services {
  width: 33%;
  display: inline-block; }
  .services:first-child {
    width: 32%;
    padding-right: 22px; }
  .services:last-child {
    width: 31%; }
  .services .services-container {
    display: flex;
    padding-left: 6px; }
    .services .services-container .services-img-wrap {
      width: 62px;
      height: 62px;
      background-color: #bc2e3a;
      border-radius: 50%; }
      .services .services-container .services-img-wrap img {
        display: block;
        margin: 14px auto;
        width: 30px; }
    .services .services-container .services-text-wrap {
      width: calc(100% - 70px);
      padding: 15px 0px 0px 14px; }
      .services .services-container .services-text-wrap h3 {
        font-size: 25px; }
      .services .services-container .services-text-wrap p {
        font-size: 14px;
        line-height: 25px;
        padding-top: 16px; }

.process-section {
  background-color: #fff;
  min-height: 617px; }
  .process-section .process-bg-right {
    width: 485px;
    height: 970px;
    right: 0;
    margin-top: -166px;
    position: absolute;
    background-color: #bc2e3a;
    clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
    -ms-clip-path: polygon(100% 0%, 100% 100%, 0% 50%); }
  .process-section .process-bg-left {
    width: 183px;
    height: 357px;
    margin-top: 439px;
    position: absolute;
    background-color: #000;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    -ms-clip-path: polygon(0% 0%, 100% 50%, 0% 100%); }
  .process-section h2 {
    padding-top: 90px;
    padding-left: 180px; }
  .process-section .process-container {
    display: flex;
    padding-left: 160px; }
    .process-section .process-container .process-text {
      width: 26%; }
      .process-section .process-container .process-text p {
        line-height: 25px;
        font-size: 14px;
        padding: 53px 10px 0px 25px; }
      .process-section .process-container .process-text .btn {
        padding: 48px 0px 0px 10px; }
    .process-section .process-container .process-img-wrap {
      position: absolute;
      right: 0;
      padding-top: 25px;
      display: flex;
      justify-content: space-between; }
      .process-section .process-container .process-img-wrap .process-img {
        display: flex;
        flex-wrap: wrap; }
        .process-section .process-container .process-img-wrap .process-img img {
          width: 425px;
          height: 305px;
          margin-left: -115px; }
        .process-section .process-container .process-img-wrap .process-img:first-child img, .process-section .process-container .process-img-wrap .process-img:first-child .process-img-text {
          margin: 0px; }
          .process-section .process-container .process-img-wrap .process-img:first-child img .process-img-text-down, .process-section .process-container .process-img-wrap .process-img:first-child .process-img-text .process-img-text-down {
            padding-left: 95px; }
        .process-section .process-container .process-img-wrap .process-img:last-child img {
          width: 285px; }
        .process-section .process-container .process-img-wrap .process-img:last-child .process-img-text {
          align-items: flex-end;
          margin-left: -30px; }
        .process-section .process-container .process-img-wrap .process-img:hover .process-img-text .process-img-text-down {
          transition: 0.5s;
          padding-bottom: 13px; }
          .process-section .process-container .process-img-wrap .process-img:hover .process-img-text .process-img-text-down p {
            display: block;
            width: 200px;
            line-height: 24px; }
      .process-section .process-container .process-img-wrap .process-img-text {
        height: 255px;
        width: 167px;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        color: #fff;
        opacity: 0.8;
        margin-left: -25px; }
        .process-section .process-container .process-img-wrap .process-img-text div:first-child h4 {
          padding: 25px 0px 0px 320px; }
        .process-section .process-container .process-img-wrap .process-img-text h4 {
          font-size: 50px;
          font-weight: 600;
          padding: 25px 0px 0px 235px;
          margin: 0; }
        .process-section .process-container .process-img-wrap .process-img-text .process-img-text-down h3 {
          text-transform: uppercase;
          font-size: 35px;
          font-weight: 500; }
        .process-section .process-container .process-img-wrap .process-img-text .process-img-text-down p {
          display: none; }

.team-section {
  width: 100%;
  background-color: #f5f5f5;
  min-height: 668px; }
  .team-section h2 {
    text-align: center;
    padding: 78px 0px 20px 0px; }
  .team-section .owl-carousel {
    width: 70%;
    margin: auto; }
    .team-section .owl-carousel .owl-dots .owl-dot {
      display: none; }
    .team-section .owl-carousel .owl-nav {
      display: flex;
      position: absolute;
      justify-content: space-between;
      width: 126%;
      margin: -271px 0px 0px -124px; }
      .team-section .owl-carousel .owl-nav .owl-prev, .team-section .owl-carousel .owl-nav .owl-next {
        width: 42px;
        height: 85px;
        background-size: contain;
        background-repeat: no-repeat; }
        .team-section .owl-carousel .owl-nav .owl-prev span, .team-section .owl-carousel .owl-nav .owl-next span {
          display: none; }
        .team-section .owl-carousel .owl-nav .owl-prev:hover, .team-section .owl-carousel .owl-nav .owl-next:hover {
          background: none;
          width: 48px;
          height: 97px; }
        .team-section .owl-carousel .owl-nav .owl-prev:focus, .team-section .owl-carousel .owl-nav .owl-next:focus {
          border: none; }
      .team-section .owl-carousel .owl-nav .owl-prev {
        background-image: url(img/arrow-left.png); }
        .team-section .owl-carousel .owl-nav .owl-prev:hover {
          background-image: url(img/arrow-left.png); }
      .team-section .owl-carousel .owl-nav .owl-next {
        background-image: url(img/arrow-right.png); }
        .team-section .owl-carousel .owl-nav .owl-next:hover {
          background-image: url(img/arrow-right.png); }
    .team-section .owl-carousel .team-description {
      margin: -70px 60px 0;
      position: relative;
      z-index: 2;
      width: 220px; }
      .team-section .owl-carousel .team-description p {
        clip-path: polygon(86% 0%, 0% 0%, 14% 100%, 100% 100%);
        -webkit-clip-path: polygon(86% 0%, 0% 0%, 14% 100%, 100% 100%);
        -ms-clip-path: polygon(86% 0%, 0% 0%, 14% 100%, 100% 100%);
        background-color: #000;
        color: #fff;
        padding: 7px 30px 7px 0px;
        text-align: center;
        font-weight: 600; }
        .team-section .owl-carousel .team-description p:last-child {
          visibility: hidden; }
    .team-section .owl-carousel .owl-item img {
      padding-top: 61px; }
    .team-section .owl-carousel .active {
      transform: scale(1);
      transition: 1s;
      opacity: 0.6; }
    .team-section .owl-carousel .center {
      transform: scale(1.5);
      transition: 1s;
      z-index: 1;
      opacity: 1; }
      .team-section .owl-carousel .center .team-description {
        width: 200px;
        margin: -80px 60px 0; }
        .team-section .owl-carousel .center .team-description p {
          padding: 4px 10px 4px 0px;
          margin: -3px auto; }
          .team-section .owl-carousel .center .team-description p:last-child {
            background-color: #bc2e3a;
            visibility: visible;
            width: 100px;
            font-size: 10px;
            font-style: italic;
            font-weight: 400; }
    .team-section .owl-carousel .owl-stage-outer {
      min-height: 470px; }

.clients-section {
  min-height: 547px; }
  .clients-section .client-bg-right {
    width: 265px;
    height: 265px;
    right: 0;
    margin-top: -75px;
    position: absolute;
    background-color: #000;
    clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
    -ms-clip-path: polygon(100% 0%, 100% 100%, 0% 0%); }
  .clients-section .client-bg-left {
    width: 397px;
    height: 800px;
    margin-top: -133px;
    position: absolute;
    background-color: #bc2e3a;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    -ms-clip-path: polygon(0% 0%, 100% 50%, 0% 100%); }
  .clients-section h2 {
    margin: 75px 0px 85px 265px; }
  .clients-section .client-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    .clients-section .client-wrap .client-img {
      width: 245px;
      height: 245px;
      transform: rotate(45deg);
      overflow: hidden;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.25); }
      .clients-section .client-wrap .client-img img {
        max-width: 100%;
        transform: rotate(-45deg) scale(1.42); }
    .clients-section .client-wrap .client-text-wrap {
      width: 52%;
      padding-top: 36px; }
      .clients-section .client-wrap .client-text-wrap .client-text {
        display: flex;
        flex-direction: row;
        padding-left: 70px;
        letter-spacing: -0.1px; }
        .clients-section .client-wrap .client-text-wrap .client-text p {
          font-style: italic;
          padding-left: 6px;
          line-height: 25px; }
        .clients-section .client-wrap .client-text-wrap .client-text span {
          font-size: 172px;
          line-height: 81px; }
      .clients-section .client-wrap .client-text-wrap .client-description {
        margin: 24px 0px 0px 144px; }
        .clients-section .client-wrap .client-text-wrap .client-description p {
          font-weight: 600; }
      .clients-section .client-wrap .client-text-wrap .other-clients {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 44px 0px 0px 167px; }
        .clients-section .client-wrap .client-text-wrap .other-clients img {
          width: 66px;
          height: 66px; }

footer {
  width: 100%;
  min-height: 480px;
  background-image: url(img/bg-down.png);
  background-size: cover;
  background-position: center center;
  color: #fff; }
  footer .footer-bg-triangle {
    width: 265px;
    height: 146px;
    right: 0;
    margin-top: 334px;
    position: absolute;
    background-color: #bc2e3a;
    clip-path: polygon(110% 100%, 1% 100%, 56% 0%);
    -webkit-clip-path: polygon(110% 100%, 1% 100%, 56% 0%);
    -ms-clip-path: polygon(110% 100%, 1% 100%, 56% 0%); }
  footer .footer-wrap {
    background: rgba(0, 0, 0, 0.85);
    min-height: 480px; }
    footer .footer-wrap h2 {
      padding-top: 65px;
      text-align: center; }
    footer .footer-wrap .footer-contact-wrap {
      width: 73%;
      display: flex;
      justify-content: space-between;
      margin: auto;
      padding: 65px 0px 70px 0px; }
      footer .footer-wrap .footer-contact-wrap .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        footer .footer-wrap .footer-contact-wrap .contact img {
          width: 30px; }
        footer .footer-wrap .footer-contact-wrap .contact:last-child img, footer .footer-wrap .footer-contact-wrap .contact:first-child img {
          width: 44px; }
        footer .footer-wrap .footer-contact-wrap .contact .email img {
          margin: 10px 25px 0px 5px; }
        footer .footer-wrap .footer-contact-wrap .contact .phone img {
          margin-right: 35px; }
        footer .footer-wrap .footer-contact-wrap .contact .office img {
          margin-right: 32px; }
        footer .footer-wrap .footer-contact-wrap .contact p {
          font-size: 15px;
          padding-bottom: 12px; }
        footer .footer-wrap .footer-contact-wrap .contact .name {
          font-weight: 600;
          font-size: 19px; }
  footer .social-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 27%;
    margin: auto;
    justify-content: space-between; }
    footer .social-buttons a .fab {
      color: #fff;
      font-size: 21px;
      font-weight: 600; }
  footer hr {
    margin-top: 28px;
    width: 46%; }
  footer .copyright {
    margin: auto;
    width: 46%; }
    footer .copyright p {
      padding-top: 18px;
      font-size: 14px;
      text-align: center; }

/*# sourceMappingURL=styles.css.map */
